<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="Pharst Care is the pharmacy in your pocket. A virtual pharmacy that you can carry with you anywhere. It means you can get anything from the pharmacy right from your device, anytime and anywhere." />
        <meta name="keywords" content="online delivery, food delivery, fast food, medication, order online, Fast Care,Pharmacy, Care, Aid, Medicine, online drugs, prescriptions,Pharst Care,Drugs,get drugs online,get pharmacies,pharmacy,Search for drugs,drug search,find drugs online, find drugs, find medicines, search for medicine,PywE Health Apps,healthcare,Health Apps,Health,Care,Phars+,Pharst, Pharst Care" />
        <title>Todo App</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
    </head>

<body>
    <header></header>
    <main class="container">
        <h3 class="text-danger">Todoers</h3>
        <!-- card -->
            <div class="card shadow">
                <!-- card header -->
                <div class="card-header text-large">
                    Welcome to Todoers
                </div>
                <!-- card body -->
                <div class="card-body">
                    <img src="/static/images/8309.jpg" alt="me" height="auto" width="100%;">
                </div>
                <!-- card footer -->
                <div class="card-footer">
                    <button class="btn btn-primary float-right button">Next</button>
                </div>
            </div>

    </main>
<script src="/static/js/jquery.min.js"></script>

</body>
</html>